body {
  margin: 10px;
}

.box {
  display: block;
  /* border: black solid 1px; */
  border-radius: 10%;
}

.orange {
  height: 100px;
  width: 100px;
  background-color: orange;
}

.green {
  height: 100px;
  width: 100px;
  background-color: green;
}

.grey {
  height: 100px;
  width: 100px;
  background-color: grey;
}

.orange2 {
  height: 100px;
  width: 100px;
  background-color: orange;
}

.green2 {
  height: 100px;
  width: 100px;
  background-color: green;
}

.grey2 {
  height: 100px;
  width: 100px;
  background-color: grey;
}

#logo {
  transform: scale(0.5);
}

.ball {
  border-radius: 50%;
  background-color: brown;
  height: 100px;
  width: 100px;
}

.stagger-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: cadetblue;
  margin: 5px;
}