* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  height  : 100%;
  width   : 100%;
  position: relative;
  overflow: hidden;
}

.container {
  .box {
    height          : 100px;
    width           : 100px;
    background-color: teal;
    border-radius   : 10%;
    border: chocolate 5px solid;
    transform       : translate(-50%, -50%);
    position        : absolute;
  }
}