* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  transform: translate(-50%, -50%);
}

#box1 {
  background-color: teal;
}