* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

// without this setting body height:100% will not work
// because it needs a parent element
// Or this can be replace with 100vh
html {
  height: 100%;
  width : 100%;
}

body {
  height          : 100%;
  width           : 100%;
  background-color: #ff8a5c;
  position        : relative;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.uptext-container {
  width: 100%;

  #uptext {
    word-spacing  : 0.3em;
    font-family   : 'Staatliches', cursive;
    text-transform: uppercase;
    color         : #fff591;
  }
}



.logo-container {
  display        : flex;
  justify-content: center;
  transform      : translateY(-20%);

  #logo {
    width           : 300px;
    height          : 300px;
    background-color: #fff591;
    border-radius   : 50%;
    display         : flex;
    justify-content : center;

    .enter-btn {
      font-size       : 5em;
      font-weight     : bold;
      border          : none;
      background-color: transparent;
      font-family     : 'Staatliches', cursive;
      color           : #f5587b;
    }

    .enter-btn:focus {
      outline: none;
    }

    .enter-btn:hover {
      cursor: pointer;
    }
  }
}



.bottom-container {
  width    : 100%;
  transform: translateY(-120%);

  #bottomtext {
    word-spacing  : 0.3em;
    font-family   : 'Staatliches', cursive;
    text-transform: uppercase;
    color         : #fff591;
  }
}